body, html {
    height: 100%;
}

.full-height {
  min-height: 100%;
  height:100%;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #ffc107;
}

.nav {
  background-color: #ffc107;
}

.center {
  /* margin: auto;
  width: 75%;
  border: 3px solid green;
  padding: 10px; */

  /* width: 100px;
  height: 100px;
  background-color: red; */

  /* position: absolute; */
  position:absolute;
  top:50%;
  left:50%;
  padding:15px;
  /* -ms-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translate(-50%,-50%); */
  transform: translate(-50%,-50%);
}

.empty-box {
  height: 5rem;
  width: 5rem;
}

.bg {
    /* The image used */
    background-image: url("resources/imgs/wheel-of-fortune-background_theme.jpg");

    /* Full height */
    height: 100%;
    width: 100%

    /* Center and scale the image nicely */
    /* background-position: center; */
    background-repeat: no-repeat;
    background-size: cover;
}

.custom-disable {
    pointer-events: none;
    opacity: 0.4;
}

.disabled-wheel {
  pointer-events: none;
}

.card-deck {
  padding: 0.5em;
  margin: 0.5em;
}


#category-letters-jumbotron {
  padding: 0.5em 0.5em;
  background-color: #e6f3ff;
  border: 1px solid black;
}

.vertical-alignment-helper {
    display:table;
    height: 100%;
    width: 100%;
    pointer-events:none;
}
.vertical-align-center {
    /* To center vertically */
    display: table-cell;
    vertical-align: middle;
    pointer-events:none;
}
.modal-content {
    /* Bootstrap sets the size of the modal in the modal-dialog class, we need to inherit it */
    width:inherit;
 max-width:inherit; /* For Bootstrap 4 - to avoid the modal window stretching full width */
    height:inherit;
    /* To center horizontally */
    margin: 0 auto;
    pointer-events:all;
}
